[worldserver]

########################################
# TalentButton configuration
########################################
#
#    TalentButton.Enable
#        Description: Enable or disable the module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

TalentButton.Enable = 1